body {
    /*font-family: 'Verdana', sans-serif;*/
    margin: 50px 25px;
    color: initial;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: initial;   
}

footer {
    padding: 25px 0;
    font-size: x-small;
    text-align: center;
}

p.copyright {
    margin: 5px 0 0;
}

div.content {
	margin-top: 75px;
}

div.logo {
    max-width:150px;
    margin-top: 25px;
    margin-bottom: 25px;

}