{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h1><a href="{{ post|url }}">{{ post.title }}</a></h1>
  {% else %}
    <h1>{{ post.title }}</h1>
  {% endif %}
  <p class="meta">
    <i class='fa fa-calendar fa-fw'></i> <span id="date"></span>
  </p>
  {{ post.body }}
  </div>
  <!-- moment.js -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js">
  </script>
  <script type="text/javascript">
      $(document).ready(function() {
        $('#date').html(moment('{{ post.date }}').format('MMM Do YYYY'));
      });
  </script>
{% endmacro %}
