{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="row">
  	<div
  	{% if this.attachments.images.count() > 0 %}
  		class="col-sm-9"
  	{% else %}
  		class="col-sm-12"
  	{% endif %}
  	>  	  
    <h1>{{ this.title }}</h1>
    {% block subtitle %}{% endblock %}
  		{{ this.body }}
  	</div>
  	<div class="col-sm-3 hidden-xs">
		  <div class="logo center-block" style="max-width:225px;">
			{% for image in this.attachments.images | sort(attribute='_path') %}
	  			<p>
	  				<img class="img-responsive 
	  				{% if 'avatar' in image._path %}
	  					img-circle
	  				{% endif %}
	  				" src="{{ image|url }}">
	  			</p>
			{% endfor %}			
		  </div>
	</div>
  </div>
{% endblock %}